.App {
  display: flex;
}

.Data-table {
  position: relative;
  z-index: 1300;
  display: flex;
  width: 100%;
  top: 4.5rem;
  left: 0.5rem;
  padding: 0.5rem;
}

.Box-shadow {
  box-shadow: 20px 2px 24px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
